<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/robo.css') }}">
    <title>Cadastrar Evento</title>
</head>

<body>
    <div class="container">
        <h1>Posição Atual</h1>
        <p>x = {{robo.x}}</p>
        <p>y = {{robo.y}}</p>
        <p>z = {{robo.z}}</p>
        <form action="/mover" method="get">
            <input type="submit" class="deslocamento-button" value="Deslocamento robô">
        </form>
    </div>
</body>
</html>